.link {
  fill: none;
  stroke: #b3b3b3;
  stroke-width: 1.5px;
}

circle {
  fill: #f9f9f9;
  stroke: #2a7fff;
  stroke-width: 2px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}